@charset "UTF-8";

body{
	background-color:white;
	background-image:none;
	text-align:center;
	margin:0;
}

iframe{
	display:flex;
	width:1600px;
	height:900px;
	margin: 0 auto;
	text-align:center;
}
.middle{
	text-align:center;
}